target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
src/main/resources/application.properties
src/main/webapp/META-INF/context.xml
src/main/webapp/WEB-INF/views/menu2.jsp
src/main/resources/application.properties
src/main/java/edu/mum/controller/UserController.java
src/main/java/edu/mum/dao/DaoLayerImpl.java
src/main/java/edu/mum/dao/DaoLayerImpl.java
src/main/java/edu/mum/dao/DaoLayerImpl.java
src/main/java/edu/mum/mail/SendMailImpl.java
src/main/java/edu/mum/dao/DaoLayerImpl.java
src/main/java/edu/mum/mail/SendMailService.java
src/main/java/edu/mum/dao/DaoLayerImpl.java
src/main/resources/application.properties
src/main/webapp/WEB-INF/views/addNewUser.jsp
src/main/webapp/WEB-INF/views/addNewUser.jsp
src/main/webapp/WEB-INF/views/menu2.jsp
src/main/webapp/WEB-INF/views/passwordForm.jsp
src/main/webapp/WEB-INF/views/TasksSchedule/addServiceNSchedule.jsp
src/main/webapp/WEB-INF/views/TasksSchedule/addServiceNSchedule.jsp
src/main/webapp/WEB-INF/views/TasksSchedule/manageScheduleTasks.jsp
src/main/webapp/WEB-INF/views/TasksSchedule/manageScheduleTasks.jsp
src/main/webapp/WEB-INF/views/TasksSchedule/tasksList.jsp
src/main/java/edu/mum/controller/SystementryController.java
src/main/java/edu/mum/configuration/EmailUtility.java
src/main/java/edu/mum/aop/AopLogger.java
